.border {
	border: 1px solid black;
	width: 20px;
}
.overlay{	
	margin:5px;
}

.content  {
	-webkit-filter:brightness(40%);
	filter: brightness(60%);
	position: relative;
	display: inline-block;
}

p {
	position: absolute;
	bottom: 5px;
	right: 0px;
	color: white;

}
